/* Map location */
section{
    display: flex;
    width: 100%;
    padding: 4% 10%;
    padding-left: 10%;
    box-sizing: border-box;
    height: 45rem;
}
section .image{
    width: 45%;    
    /* background-color: lightcoral; */
}
section .image img{
    padding-top: 4%;
    height: 500px;
    width: 100%;
}
section .map{
    padding: 0 4%;
    box-sizing: border-box;
    width: 55%;
    /* background-color: cadetblue; */
}
section .map h2{
    font-size: 38px;
}
section .map p:last-child iframe{
    top: 80%;
    height: 200px;
}
section .map p:last-child{opacity: 1;}
section .map p span{font-weight: bold;}
section .map p{
    opacity: 0.7;
    font-size: 17px;
}

/* Mainstream content */
.mainstream-content{
    width: 100%;
    padding: 0 15%;
    padding-top: 2%;
    /* background-color: crimson; */
}
.mainstream-content .boxing{
    padding: 1% 5%;
    width: 55%;
}
.mainstream-content .boxing h2{font-size: 40px;}
.mainstream-content .boxing h2 span{color: #FF7619;}
.mainstream-content .boxing p{
    opacity: 0.8;
    font-size: 19px;
    text-align: justify;
    line-height: 30px;
}
.mainstream-content .boxing img{
    opacity: 1;
    display: inline-block;
    width: 90%;
    height: auto;
}