*{
    background-size: cover;
    box-sizing: border-box;
}
.menubar{
    
    width: 90%;
    height: 120px;
    margin: 100px 150px ;
}

.menubar ul{
    padding: 0px;
}

.menubar ul li{
    float: left;
    list-style: none;
    background-color: black;
    color: rgb(232, 238, 234);
    width: 180px ;
    padding: 0px;
    height: 50px;
    
    line-height: 50px;
    font-size: 15px;
    font-weight: bolder;
    
    text-align: center;
}

.menubar ul li a:hover .menubar ul li ul li{
    float: none;
    width: 180px;
    
    text-align: center;
    padding: 0px;
    
}

.menubar ul li:hover{
    background-color: rgb(241, 16, 16);
}

.menubar ul li ul{
    display: none;
}

.menubar ul li a{
    text-decoration: none;
    color: white;
}

.menubar ul li:hover > ul{
    display: block;
}

img{
    max-width: 100px;
    height: 100px;
}

body{
    background-color: white;
    background-size: cover;
    
}